@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

:root {
    --cor0: #FFFAF2;
    --cor1: #FF8800;
    --cor2: #C66300;
    --cor3: #292827;

    --font-principal: 'Josefin Sans', sans-serif;
    --font-logo: 'Berkshire Swash', serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

p::selection , h1::selection , h2::selection , h3::selection, a::selection  { /*Faz a seleção ficar com cor*/
    background: var(--cor1);
    color: var(--cor3);
}

header div {
    background-color: white;
    width: 100%;
    height: 70px;
    user-select: none; /*Retira a opção de selecionar*/
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.329);
}

header div img {
    width: 95px;
    padding: 20px 20px 15px 20px;
}

span#menu, span#close {
    display: block;
    color: white;
    font-size: 1.3em;
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 92%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

span#close {
    display: none;
}

menu#itens {
    display: none;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.418);
}

header menu#itens > ul > li{
    background-color: #F9F9F9;
    padding: 15px;
    border-top: 1px solid #DDDDDD;
}

li > a {
    text-decoration: none;
    color: black;
    font-family: var(--font-principal);
    font-size: 0.9em;
}

li > a:hover {
    color: var(--cor1);
    transition: 0.3s;
}


main div#cab {
    background-color: rgb(255, 255, 255);
    background-image: url(../imagens/pizzaria-hero-fundo01.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 315px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.411);
    margin-bottom: 70px;
}

main div#cab section {
    background-color: rgba(46, 46, 46, 0.39);
    height: 315px;
}


main section p#h1 {
    text-align: center;
    font-family: var(--font-logo);
    font-size: 4.5em;
    color: white;
    margin-bottom: -15px;
    top: -40px;
}

main section img {
    user-select:none;
    margin-bottom: -53px;
}

main section p#h2 {
    text-align: center;
    font-family: var(--font-principal);
    font-size: 1.5em;
    color: var(--cor1);
}

main section p#h3 {
    text-align: center;
    font-family: var(--font-principal);
    font-size: 1.2em;
    font-weight: 300;
    font-style: italic;
    color: white;
    padding-top: 45px;
}

section#horario {
    background-image: url(../imagens/foto-horario2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 92vw;
    height: 625px;
    margin: auto;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.411);
}

section#horario div {
    background-image: linear-gradient(to top, rgba(34, 34, 34, 0.829), transparent 80%);
    width: 92vw;
    height: 625px;
    margin: auto;
}

section#horario p#hora {
    font-family: var(--font-logo);
    padding-top: 500px;
    font-size: 1.6em;
    font-weight: normal;
}

section#horario p {
    font-family: var(--font-principal);
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 30px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
}

main div#pizza {
    background-image: url(../imagens/pizza-pq.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 85vw;
    height: 895px;
    margin: 40px;
}

main > section#historia > p#cima {
    font-family: var(--font-principal);
    font-weight: 600;
    font-size: 1.1em;
    padding: 20px 45px;
}

main > section#historia > h1 {
    font-family: var(--font-logo);
    color: var(--cor2);
    font-weight: normal;
    font-size: 4em;
    padding-left: 45px;
    padding-bottom: 10px;
}

main > section#historia > h2 {
    font-family: var(--font-secundaria);
    color: var(--cor3);
    font-size: 2.2em;
    font-weight: 600;
    padding-left: 45px;
    padding-bottom: 30px;
}

main section#historia > p {
    font-family: var(--font-principal);
    color: var(--cor3);
    width: 82%;
    font-size: 0.9em;
    padding-bottom: 20px;
    padding-left: 45px;
    line-height: 25px;
}

main > section#historia > a {
    text-decoration: none;
    font-family: var(--font-principal);
    font-size: 0.9em;
    color: var(--cor1);
    padding-left: 45px;
}

main > section#historia > a:hover {
    color: var(--cor3);
    transition: 0.3s;
}

main > section#cardapio {
    background-color: var(--cor0);

    height: 1000px;
    margin-top: 80px;
}

main > section#cardapio img.folha {
    display: block;
    margin: auto;
    padding-top: 70px;
    width: 130px;
}

main > section#cardapio > h1 {
    font-family: var(--font-logo);
    font-size: 1.6em;
    font-weight: normal;
    color: var(--cor2);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

main > section#cardapio > h2 {
    font-family: var(--font-principal);
    font-size: 1.9em;
    color: var(--cor3);
    text-align: center;
    padding: 5px 20px;
    line-height: 25px;
    padding-bottom: 55px;
}

main > section#cardapio > img.catalago {
    width: 100px;
    padding-top: 10px;
    padding-left: 55px;
    user-select:none;
}

main > section#cardapio > h3 {
    font-family: var(--font-principal);
    color: var(--cor3);
    font-size: 1.3em;
    font-weight: 600;
    padding-left: 170px;
    margin-top: -30px;
    padding-bottom: 100px;
    margin-right: 150px;
}

main > section#cardapio > p {
    position: relative;
    font-family: var(--font-principal);
    font-size: 0.9em;
    color: var(--cor3);
    top: -90px;
    padding-left: 170px;
    margin-right: 150px;
}

main > section#cardapio > p.preco {
    font-family: var(--font-principal);
    color: var(--cor2);
    font-size: 2em;
    font-weight: bolder;
    text-align: right;
    margin-right: 40px;
    margin-top: -50px;
}

main > section#cardapio > a {
    display: block;
    text-decoration: none;
    font-family: var(--font-principal);
    background-color: var(--cor1);
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    margin: auto;
    text-align: center;
    width: 230px;
    height: 15px;
    padding: 15px 50px;
    margin-top: 30px;
    border-radius: 5px;
}

main > div#fotoHH {
    background-image: url(../imagens/foto-happy.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 92vw;
    height: 250px;
    margin: auto;
    margin-top: 65px;
}


main > section#happyH > i {
    display: block;
    text-align: center;
    font-size: 100px;
    margin-top: 50px;
}

main > section#happyH > p {
    font-family: var(--font-principal);
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    margin: 15px;
}

main > section#happyH > h1 {
    font-family: var(--font-logo);
    color: var(--cor2);
    text-align: center;
    font-weight: normal;
    font-size: 1.3em;
    margin: 15px;
}

main > section#happyH > h2 {
    font-family: var(--font-principal);
    color: var(--cor3);
    text-align: center;
    font-weight: 600;
    font-size: 1.6em;
    margin: 25px;
}

main >section#happyH > a {
    display: block;
    text-decoration: none;
    font-family: var(--font-principal);
    font-size: 0.9em;
    color: var(--cor1);
    text-align: center;
    margin: 40px;
}

main > section#happyH > a:hover {
color: var(--cor3);
transition: 0.3s;
}

main > section#depoimentos > span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FCE5DE;
    font-size: 16em;
    transform: scale(-1, 1); /* Inverte/Espelha o texto*/
}

main > section#depoimentos > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-logo);
    color: var(--cor2);
    font-weight: normal;
    font-size: 1.9em;
    margin-top: -140px;
}

main > section#depoimentos > div.depimg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px;
}

main > section#depoimentos > div.depimg > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

main > section#depoimentos > p {
    font-family: var(--font-principal);
    text-align: center;
    color: #464543;
    font-size: 1.1em;
    line-height: 30px;
    margin: 0px 80px;
}

main > section#depoimentos > p.depnome {
    margin-top: 30px;
    font-size: 1.2em;
}

main > section#depoimentos > p.depsocial {
    color: #8d8c88;
    font-size: 0.9em;
    font-weight: 600;
}

main > div#imgtel {
    background-color: rgb(255, 255, 255);
    background-image: url(../imagens/telefone.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
    margin-top: 130px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.411);
}

main > div#imgtel > section {
    background-color: rgba(46, 46, 46, 0.863);
    height: 570px;
}


main > div#imgtel > section > i#telefone {
    position: relative;
    color: var(--cor1);
    text-align: center;
    font-size: 3.5em;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg); /*Para usar mais de um transform e preciso juntar eles e separar com espaços, se colocar uma virgula não funciona*/
}


main > div#imgtel > section> p {
    position: relative;
    font-family: var(--font-logo);
    color: white;
    font-size: 1.5em;
    text-align: center;
    top: 32%;
}

main > div#imgtel > section > p#tel {
    font-family: var(--font-principal);
    font-weight: bolder;
    font-size: 5em;
}

footer {
    background-color: #464543;
    border-top: 1px solid white;
    height: 30px;
}

footer > p {
    color: white;
    font-family: var(--font-principal);
    text-align: center;
    padding-top: 8px;
}

footer > p > a {
    text-decoration: none;
    color: var(--cor1);
}

footer > p > a:hover {
    color: rgba(0, 0, 0, 0.781);
    transition: 0.3s;
}